<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Cadastro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-card-content>
        Cadastre/edite contatos.
      </ion-card-content>
    </ion-card>

    <form (ngSubmit)="formSubmit()">
      <ion-item>
        <ion-label>Nome</ion-label>
        <ion-input type="text" [(ngModel)]="formData.nome" name="name" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Sobrenome</ion-label>
        <ion-input type="text" [(ngModel)]="formData.sobrenome" name="sobrenome" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input type="email" [(ngModel)]="formData.email" name="email" required></ion-input>
      </ion-item>
      <ion-button type="submit" expand="block">Enviar</ion-button>
    </form>
</ion-content>
