<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
	<ion-card>
	    <img src="assets/img/apink7.jpg">  
	    <ion-card-header>
	      <ion-card-title>PandaDOM</ion-card-title>
	    </ion-card-header>

	    <ion-card-content>
	     Aplicativo do site de mesmo nome com o intuito de manter uma rede de contados entre fãs do grupo Apink!
	    </ion-card-content>
	</ion-card>

</ion-content>
