<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sobre Apink</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
	    <img src="assets/img/apink5.jpg">  
	    <ion-card-header>
	      <ion-card-title>Apink</ion-card-title>
	    </ion-card-header>

	    <ion-card-content>
	     Apink é grupo coreano composto das 6 integrantes Park Chorong, Yoon Bomi, Jeong Eunji, Son Naeun, Kim Namjoo e Oh Hayoung.<hr>
	     Sua estréia foi em 19 de abril de 2011 e está em atividade desde então.<hr>
	    </ion-card-content>
	</ion-card>

</ion-content>
