<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Início
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-card> 
        <ion-card-header>
          <ion-card-title>PandaDOM</ion-card-title>
        </ion-card-header>

        <ion-card-content>
         Bem vindo(a) ao PandaDOM!
        </ion-card-content>
      </ion-card>

     <ion-slides pager="true">
        <ion-slide>
          <ion-card>
            <img src="assets/img/apink1.jpg">  
            <ion-card-header>
              <ion-card-title>Sobre</ion-card-title>
            </ion-card-header>

            <ion-card-content>
             Saiba mais sobre nós.
            </ion-card-content>
          </ion-card>
        </ion-slide>

        <ion-slide>
          <ion-card>
            <img src="assets/img/apink2.jpg">  
            <ion-card-header>
              <ion-card-title>Sobre Apink</ion-card-title>
            </ion-card-header>

            <ion-card-content>
             Saiba mais sobre Apink.
            </ion-card-content>
          </ion-card>
        </ion-slide>

        <ion-slide>
          <ion-card>
            <img src="assets/img/apink3.jpg">  
            <ion-card-header>
              <ion-card-title>Cadastro</ion-card-title>
            </ion-card-header>

            <ion-card-content>
             Cadastre-se e tenha acesso a recursos exclusivos!.
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
</ion-content>
